# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*List popular languages for Data Science
*List libraries used by Data Science
*Tabla Data Science Tools
*Some examples arithmetic expressions in Python
*Example arithmetic expression
*Example conver minutes to hours

Some of the popular languages that Data Scientists use are:
1. R
2. Pyhton
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow
5. Ggplot2
6. Caret

|Data Science Tools |
| ----------------- |
| Rstudio           |
| Jupyter Notebook  |
| JupyterLab        |

### Below are a few examples of evaluating arithmetic expressions in Python 

```python
Ejemplo 1 Sum

x = 5
y= 10
sum = x + y
print("La adidition es: ", sum) #Output: The result of the sum is: 15

Ejemplo 2 Subtration
z = 20
s = 10
subtraction = z - s
print("Subtraction is : ", subtraction) #output: The resul of the subtraction  is: 10

Ejemplo 3 Multiplication
a = 4
b = 6
multiplication = a * b
print("Multiplication is: ", multiplication) #Outout : The result of the multiplication is: 24


```

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 500 minutes to hours by diving by 60

500/60

8.333333333333334

## Author
Marisol Navarrete